@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Shadows+Into+Light&display=swap");

@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Baguile';
  src: url('./assets//fonts//Baguile.otf') format('opentype')
}

@tailwind utilities;

*,
*:before,
*:after {
  @apply cursor-default;
}

a, button {
  @apply cursor-pointer;
}

html {
  scroll-behavior: smooth;
}

